

.body{
   width: 40px;
   height: 50%;
}


 
.cur-con-weather-card{
   background-color:white;
}

.cur-con-weather-card .detail:last-child {
   border-bottom: none;
 
}
.cur-con-weather-card .detail {
   align-items: center;
   border-bottom: 1px solid rgba(0,0,0,.15);
   
   border-radius: 25px;
}
.spaced-content {
  color: aliceblue;
   
    width: 50%;
   display: -webkit-box;
   display: -ms-flexbox;
   display: flex;
   justify-content: space-between;
   border-radius: 25px;
}

.cur-con-weather-card__body{
   /*background-color: aliceblue;*/
   
   font-size: 20px;
   color: aliceblue;
   text-align:center;
  
   margin-left: auto;
   margin-right: auto;
   border-radius: 25px;
   
   
   

}
.forecast-container{
   
}

.forecast-container{
   text-align: center;
   height: 210px;
   background-position: center;
   background-repeat: no-repeat;
   background-size: cover;
   position: relative;
   text-align:center;
   border-radius: 25px;
  
   
      
    
}


.span{
   content: "\2634";
 }

.spaced-content{
   color: aliceblue;
   text-align:center;
   
   margin-left: auto;
   margin-right: auto;
   
}









